affine==2.3.0
attrs==19.1.0
cachetools==3.1.1
certifi==2019.9.11
chardet==3.0.4
Click==7.0
click-plugins==1.1.1
cligj==0.5.0
cycler==0.10.0
descartes==1.1.0
Fiona==1.8.6
Flask==1.1.1
geopandas==0.5.1
google-api-python-client==1.7.11
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.0
gspread==3.1.0
httplib2==0.13.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
joblib==0.14.0
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==3.1.1
munch==2.3.2
numpy==1.17.2
oauth2client==4.1.3
oauthlib==3.1.0
OWSLib==0.19.0
pandas==0.25.1
pyasn1==0.4.7
pyasn1-modules==0.2.6
pyparsing==2.4.2
pyproj==2.3.1
python-dateutil==2.8.0
pytz==2019.2
rasterio==1.1.2
requests==2.22.0
requests-oauthlib==1.2.0
rsa==4.0
Rtree==0.8.3
scikit-learn==0.21.3
scipy==1.3.2
seaborn==0.9.0
Shapely==1.6.4.post2
six==1.12.0
sklearn==0.0
snuggs==1.4.7
uritemplate==3.0.0
urllib3==1.25.4
Werkzeug==0.16.0
zipfile36==0.1.3
